/* ===== BASE STYLE ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0d0d0d;
  border: #0098ff;
  color: #ffffff;
  line-height: 1.6;
}

/* ===== HEADER ===== */
header {
  width: 100%;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #00aaff;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: 0.3s;
}

header nav ul li a:hover {
  color: #00aaff;
}

/* ===== HOME ===== */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 80px 50px;
  gap: 60px;
}

.home-img img {
  width: 320px;
  filter: drop-shadow(0 0 20px #0098ff);
}

.isi span {
  font-size: 22px;
  color: #00aaff;
}

.isi h1 {
  font-size: 70px;
  margin: 5px 0;
}

.isi h2 {
  font-size: 40px;
  color: #00aaff;
}

.isi p {
  margin-top: 15px;
  max-width: 600px;
  opacity: 0.8;
}

/* ===== ABOUT ===== */
.about {
  padding: 100px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.about-img img {
  width: 300px;
  filter: drop-shadow(0 0 20px #0098ff);
}

.about-text h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.about-text p {
  max-width: 650px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.about-text a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #0098ff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.about-text a:hover {
  background: #007acc;
}

/* ===== SKILLS ===== */
.skills {
padding: 100px 80px;
text-align: center;
}


.skills h2 {
font-size: 45px;
margin-bottom: 40px;
}


.subskill {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 40px;
}


.skill-item {
background: #221e30;
padding: 20px;
border-radius: 10px;
border: 2px solid transparent; /* default: tak kelihatan */
transition: 0.3s ease;
}


.skill-item:hover {
transform: translateY(-10px);
background: #0f0f0f;
border: 2px solid #00aaff; /* border glowing saat hover */
box-shadow: 0 0 15px #00aaff;
}


.skill-item img {
width: 150px;
margin-bottom: 15px;
}

/* ===== PROJECT ===== */
.project {
  padding: 100px 80px;
  margin : 15px;
  border: #ffffff;
  list-style-type: disc;
  text-align: center;
}

.subproject {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.project-item {
  background: #221e30;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid transparent; /* default: tak kelihatan */
  transition: 0.3s ease;
}

.project-item:hover {
  transform: translateY(-10px);
  background: #0f0f0f;
  border: 2px solid #00aaff; /* border glowing saat hover */
  box-shadow: 0 0 15px #00aaff;
}

.project-item img {
  width: 200px;
  margin-bottom: 15px;
}

.project-item a {
  color: #00aaff;
  text-decoration: none;
}


.glow-link {
    display: inline-block;
    margin: 4px 6px;
    padding: 6px 14px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #00aaff;
    border-radius: 8px;
    color: #00aaff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.25s ease;
}

.glow-link:hover {
    background: #00aaff;
    color: #000;
    box-shadow: 0 0 15px #00aaff;
}

/* ===== PROJECT 2 ===== */
.project2 {
  padding: 100px 80px;
  text-align: center;
}

.subproject2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.project2-item {
  background: #221e30;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid transparent; /* default: tak kelihatan */
  transition: 0.3s ease;
}

.project2-item:hover {
  transform: translateY(-10px);
  background: #0f0f0f;
  border: 2px solid #00aaff; /* border glowing saat hover */
  box-shadow: 0 0 15px #00aaff;
}

.project2-item img {
  width: 200px;
  margin-bottom: 15px;
}

.project2-item a {
  color: #00aaff;
  text-decoration: none;
}


.glow-link {
    display: inline-block;
    margin: 4px 6px;
    padding: 6px 14px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #00aaff;
    border-radius: 8px;
    color: #00aaff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.25s ease;
}

.glow-link:hover {
    background: #00aaff;
    color: #000;
    box-shadow: 0 0 15px #00aaff;
}


/* ===== FOOTER ===== */
footer {
  padding: 20px;
  text-align: center;
  background: #00aaff;
  margin-top: 50px;
}
